<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <section>
        <div>
            <form id="buscarPeli" action="api/movies/search" method="GET">
                <div class="form-group">
                    <label>Introduce el titulo de una película</label>
                    <input type="text" id="searchInput" name="title">
                </div>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>

            </form>

            <div class="container">
                <ul id="moviesList">
                    
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div>
            <form id="buscarPeliPorId" action="api/movies/find" method="GET">
                <div class="form-group">
                    <label>Introduce el id de una película</label>
                    <input type="text" id="searchInput" name="id">
                </div>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>

            </form>

            <div class="container">
                <ul id="infoList" >
                    
                    <ul id="sublist">

                    </ul>
                </ul>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="/assets/js/main.js"></script>

</body>

</html>